<!--<div class="container">
  <div class="row">-->
      <div ng-controller="GmapController" >
        <!--<div infinite-scroll='vm.loadMore()' infinite-scroll-distance='1' class="scroll">
          <img ng-repeat='image in vm.images' ng-src='http://placehold.it/225x250&text={{image}}'>
          <iframe></iframe>
        </div>-->
        <div>
          <input id="address" type="textbox" value="Hà Nội" ng-model="address" ng-enter="vm.codeAddress()">
          <input type="button" value="Tìm kiếm" ng-click='vm.codeAddress()'>
        </div>

        <div id="map" ></div>

        <!--<div id="controlLeftWrapper">
          <div class="zoomIn" id="zoomIn"><i class="fa fa-plus"></i></div>
          <div class="zoomOut" id="zoomOut"><i class="fa fa-minus"></i></div>
          <div class="currentLocation" id="currentLocation"><i class="fa fa-paper-plane"></i></div>
        </div>-->

      </div>
  <!--</div>
</div>-->

