<div id="layoutContainer" class="container">
    <div class="row">
        <header class="col-md-12">
            <h1>header</h1>
        </header>
    </div>
    <div class="row">
        <div id="layoutContent">
            <nav class="col-md-5">
                <h1>Nav</h1>
            </nav>
        
            <article class="col-md-7">
                <ui-view></ui-view>
                
            </article>
        </div>
        
    </div>
    <div class="row">
        <footer class="col-md-12">footer</footer>
    </div>

</div>