
#listHotels #map {
    height: 525px;
    // width: 100%;
    overflow-y: scroll;
    float: right;
  }
  /* Optional: Makes the sample page fill the window. */

#listHotels table {
    font-size: 15px;
    font-weight: 500;
    background-color: beige;
  }

#listHotels #listing {
    height: 525px;
    overflow-y: scroll;
    float: left;
  }

#listHotels #listing #resultsTable{
  width: 100%;
}

#listHotels #searchBar #custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
#listHotels #searchBar #controls #country{
  height: 34px;
  border-radius: 3px;
}
#listHotels #searchBar #controls{
  float: left;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
#listHotels #searchBar #controls select{
    width: 100%;
}
#listHotels #searchBar #radius-controls{
    float: left;
}
#listHotels #searchBar #custom-search-input button {
    border-radius: 3px;
    color:black;
}

#listHotels #info-content table {
}

/* PC DISPLAY*/

@media only screen
and (max-device-width: 768px) {
    #layoutContainer{
        width: 100%;
    }
    #listHotels #map{
    }
}


/* PHONE DISPLAY*/

@media only screen
and (max-device-width: 767px)
and (min-device-width: 300px){
    #layoutHeader #brand span{
        font-size: 30px;
    }
    #layoutHeader img{
        margin-top: 10px;
    }

}
